<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="blowery.web">
      <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
    </sectionGroup>
    <sectionGroup name="jayrock">
      <sectionGroup name="jsonrpc">
        <section
            name="features"
            type="Jayrock.JsonRpc.Web.JsonRpcFeaturesSectionHandler, Jayrock" />
      </sectionGroup>
    </sectionGroup>    
  </configSections>
  <jayrock>
    <jsonrpc>
      <features>
        <add name="rpc"
             type="Jayrock.JsonRpc.Web.JsonRpcExecutive, Jayrock" />
        <add name="getrpc"
             type="Jayrock.JsonRpc.Web.JsonRpcGetProtocol, Jayrock" />
        <add name="proxy"
             type="Jayrock.JsonRpc.Web.JsonRpcProxyGenerator, Jayrock" />
        <add name="pyproxy"
             type="Jayrock.JsonRpc.Web.JsonRpcPythonProxyGenerator, Jayrock" />
        <add name="help"
             type="Jayrock.JsonRpc.Web.JsonRpcHelp, Jayrock" />
        <add name="test"
             type="Jayrock.JsonRpc.Web.JsonRpcTester, Jayrock" />
      </features>
    </jsonrpc>
  </jayrock>  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <blowery.web>
    <httpCompress preferredAlgorithm="deflate" compressionLevel="high">
      <excludedMimeTypes>
        <add type="image/jpeg"/>
        <add type="image/gif"/>
      </excludedMimeTypes>
      <excludedPaths>
        <add path="TransactionImport.aspx"/>
      </excludedPaths>
    </httpCompress>
  </blowery.web>
  <appSettings/>
  <connectionStrings>
    <add name="ExpenseViewConnectionString" connectionString="Data Source=tcp:sql2k802.discountasp.net;Initial Catalog=SQL2008_308722_expview2;User ID=SQL2008_308722_expview2_user;Password=starFox11;" providerName="System.Data.SqlClient"/>
    <!-- 

    <add name="ExpenseViewConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Dev\ExpView\App_Data\SQL2005_308722_expview.mdf;Integrated Security=True;User Instance=True"/>

    <add name="ExpenseViewConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Progra~1\Mi6841~1\MSSQL.1\MSSQL\Data\SQL2005_308722_expview.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>

    -->
  </connectionStrings>
  <location path="Service/ExpJSONService.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="createUser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="userLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="viewSnapshots.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="aboutUs.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="updates.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="resetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="totalCount.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Client">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="gadgetLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="gadgetDefault.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="default.aspx" protection="All" timeout="43200" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="genericErrorPage.htm">
      <error statusCode="404" redirect="fileNotFoundErrorPage.htm"/>
    </customErrors>
    <httpModules>
      <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>
    </httpModules>
    <sessionState timeout="60"/>
    <machineKey validationKey="ED0712AE7B50503B415F0E2165C5498FFC57DAFB72F693957B5CD962B59D3FB8938B5150E12E2D29D091193D31AE6258A65F0991507C87910E70EA3C9C320881" decryptionKey="912A62100A5AF67137D894F46322846C45D3D000E79B9F21" validation="SHA1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="JSMinifier.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExpenseView.Service.ExpMobileServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <services>
      <service name="ExpenseView.Service.ExpMobileService" behaviorConfiguration="ExpenseView.Service.ExpMobileServiceBehavior">
        <endpoint address="/Service/ExpMobileService.svc"
                  binding="webHttpBinding" contract="ExpenseView.Service.IExpMobileService" 
                  behaviorConfiguration="JsonBehavior">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>

  </system.serviceModel>
</configuration>